<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="Cache-Control" content="no-cache" />
<meta http-equiv="Cache-Control" content="no-store" />
<meta http-equiv="Expires" content="0" />
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">非凡商城</title>
<link th:href="@{/css/base.min.css}" rel="stylesheet">
<!-- Mainly scripts -->
<script th:src="@{/js/jquery-2.1.1.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/common.js}"></script>
</head>
<body>
	<div class="site-topbar">
		<div class="container">
			<div class="topbar-nav">
				<a rel="nofollow" th:href="@{/}">非凡商城</a>
				<span class="sep">|</span>
				<a rel="nofollow" href="http://static.mi.com/feedback/" target="_blank">问题反馈</a>
			</div>
			<div class="topbar-cart" id="J_miniCartTrigger" th:classappend="${session.cart==null?'':'topbar-cart-filled'}">
				<a rel="nofollow" class="cart-mini" id="J_miniCartBtn" href="http://static.mi.com/cart/">
					<i class="iconfont"></i>
					购物车
					<span class="cart-mini-num J_cartNum" th:text="'（'+${session.cart==null?'0':session.cart.allCount}+'）'"></span>
				</a>
				<div class="cart-menu" id="J_miniCartMenu" style="display: none;">
					<ul th:if="${session.cart!=null}" class="cart-list">
						<li th:each="cartItem,iterStat:${session.cart.cartItems}">
							<div class="cart-item clearfix" th:classappend="${iterStat.index==0?'':'first'}">
								<a class="thumb" th:href="@{/product/}+${cartItem.skuId}+'.html'">
									<img alt="" th:src="'#'">
								</a>
								<a class="name" th:href="@{/product/}+${cartItem.skuId}+'.html'">小米体重秤 白色</a>
								<span class="price">99元 × 1</span>
								<a class="btn-del J_delItem" href="javascript: void(0);">
									<i class="iconfont"></i>
								</a>
							</div>
						</li>
					</ul>
					<div class="cart-total clearfix">
						<span class="total">
							共
							<em>2</em>
							件商品
							<span class="price">
								<em>798.00</em>
								元
							</span>
						</span>
						<a href="http://static.mi.com/cart/" class="btn btn-primary btn-cart">去购物车结算</a>
					</div>
				</div>
			</div>
			<div class="topbar-info" id="J_userInfo">
				<a rel="nofollow" class="link" th:href="@{/login}" sec:authorize="!isAuthenticated()">登录</a>
				<span class="sep" sec:authorize="!isAuthenticated()">|</span>
				<a rel="nofollow" class="link" th:href="@{/user/register}" sec:authorize="!isAuthenticated()">注册</a>

				<span class="user" sec:authorize="isAuthenticated()">
					<a rel="nofollow" class="user-name" href="http://my.mi.com/portal" target="_blank">
						<span class="name" sec:authentication="name">游客</span>
						<i class="iconfont"></i>
					</a>
					<ul class="user-menu">
						<li>
							<a rel="nofollow" href="http://my.mi.com/portal" target="_blank">个人中心</a>
						</li>
						<li>
							<a rel="nofollow" href="http://order.mi.com/user/favorite" target="_blank">我的喜欢</a>
						</li>
						<li>
							<a rel="nofollow" href="http://account.xiaomi.com/" target="_blank">小米账户</a>
						</li>
						<li>
							<a rel="nofollow" href="#" id="logout-top">退出登录</a>
						</li>
					</ul>
				</span>
				<span class="sep">|</span>
				<span class="message">
					<a rel="nofollow" href="http://order.mi.com/message/list">
						消息通知
						<i class="J_miMessageTotal"></i>
					</a>
				</span>
				<span class="sep" sec:authorize="isAuthenticated()">|</span>
				<a rel="nofollow" class="link link-order" href="http://static.mi.com/order/" target="_blank"
					sec:authorize="isAuthenticated()">我的订单</a>
			</div>
		</div>
	</div>
	<div layout:fragment="content">这里是内容</div>
	<div th:replace="layout/partials/footer :: footer"></div>
	<form th:action="@{/logout}" method="post" id="logoutform"></form>
	<script type="text/javascript">
		$(function() {
			$("#logout-top,#logout-nav").click(function(event) {
				event.preventDefault();
				if (confirm('您确定退出吗？')) {
					$("#logoutform").submit();
				}
			});

			$(".user").mouseenter(function() {
				$(this).addClass('user-active');
				$(".user .user-menu").css("display", "block");
			});
			$(".user").mouseleave(function(event) {
				$(this).removeClass('user-active');
				$(".user .user-menu").css("display", "none");
			});

			$(".topbar-cart").mouseenter(function() {
				$("#J_miniCartMenu").css("display", "block");
			});
			$(".topbar-cart").mouseleave(function(event) {
				$("#J_miniCartMenu").css("display", "none");
			});
		});
	</script>
</body>
</html>