<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/layout">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link th:href="@{/css/index.min.css}" rel="stylesheet">
<link th:href="@{/css/carousel.css}" rel="stylesheet">
<script type="text/javascript" th:src="@{/js/index.js}"></script>
<title>首页</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="site-header">
			<div class="container">
				<div class="header-logo">
					<a class="logo ir" href="http://www.mi.com/index.html" title="小米官网">小米官网</a>
					<div class="doodle" style="display: block;">
						<a class="link-block" style="background-image: url(/img/dysj3.gif)"
							href="http://hd.mi.com/x/03021d/index.html" target="_blank"></a>
					</div>
				</div>
				<div class="header-nav">
					<ul class="nav-list J_navMainList clearfix">
						<li id="J_navCategory" class="nav-category">
							<a class="link-category" href="http://list.mi.com/">
								<span class="text">全部商品分类</span>
							</a>
							<div class="site-category">
								<ul id="J_categoryList" class="site-category-list clearfix">
									<li th:each="firstSecond:${firstSeconds}" class="category-item">
										<a class="title" href="http://www.mi.com/buyphone/"
											th:text="${firstSecond.firstLevelCata.name}">
											<i class="iconfont"></i>
										</a>
										<div class="children clearfix children-col-1">
											<ul class="children-list children-list-col children-list-col-1">
												<li th:each="secondLevelCata:${firstSecond.secondLevelCatas}" class="star-goods">
													<a class="link" href="#">
														<span class="text" th:text="${secondLevelCata.name}"></span>
													</a>
												</li>
											</ul>
										</div>
									</li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
				<div class="header-search">
					<form id="J_searchForm" class="search-form clearfix" action="http://search.mi.com/search"
						method="get">
						<label for="search" class="hide">站内搜索</label>
						<input class="search-text" type="search" id="search" name="keyword" autocomplete="off">
						<input type="submit" class="search-btn iconfont" value="">
						<div class="search-hot-words">
							<a th:each="searchAdvertisement:${searchAdvertisements}"
								th:href="@{/product/}+${searchAdvertisement.productDTO.id}"
								th:text="${searchAdvertisement.title}">小米6</a>
						</div>
						<div id="J_keywordList" class="keyword-list hide">
							<ul class="result-list"></ul>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="home-hero-container container">
			<div class="home-hero">
				<div class="home-hero-slider">
					<div class="ui-wrapper" style="max-width: 100%;">
						<div class="carousel slide" id="big-carousel" data-ride="carousel">
							<ol class="carousel-indicators">
								<li th:each="bigAdvertisement,iterStat:${bigAdvertisements}"
									th:attrappend="data-slide-to=${iterStat.index}" data-target="#big-carousel"
									th:classappend="${iterStat.index==0?'active':''}"></li>
							</ol>
							<div class="carousel-inner">
								<div th:each="bigAdvertisement,iterStat:${bigAdvertisements}" class="item"
									th:classappend="${iterStat.index==0?'active':''}">
									<a th:href="@{/product/}+${bigAdvertisement.productDTO.id}">
										<img alt="image" th:src="${bigAdvertisement.picture}">
									</a>
								</div>
							</div>
							<a data-slide="prev" href="index.html#big-carousel" class="left carousel-control"
								style="margin-left: 234px;">
								<span class="icon-prev"></span>
							</a>
							<a data-slide="next" href="index.html#big-carousel" class="right carousel-control">
								<span class="icon-next"></span>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="home-star-goods xm-carousel-container" id="J_homeStar">
				<div class="xm-plain-box">
					<div class="box-hd">
						<h2 class="title">人气单品</h2>
						<div class="more">
							<div class="xm-controls xm-controls-line-small xm-carousel-controls">
								<a class="control control-prev iconfont control-disabled" href="javascript: void(0);"></a>
								<a class="control control-next iconfont" href="javascript: void(0);"></a>
							</div>
						</div>
					</div>
					<div class="box-bd">
						<div class="xm-carousel-wrapper" style="height: 340px; overflow: hidden;">
							<ul
								class="xm-carousel-list xm-carousel-col-5-list goods-list rainbow-list clearfix J_carouselList"
								style="width: 2480px; margin-left: 0px; transition: margin-left 0.5s ease;">
								<li th:each="popularAdvertisement,iterStat:${popularAdvertisements}"
									th:classappend="rainbow-item-+${iterStat.count}">
									<a class="thumb" th:href="@{/product/}+${popularAdvertisement.productDTO.id}"
										target="_blank">
										<img th:src="${popularAdvertisement.picture}">
									</a>
									<h3 class="title">
										<a th:href="@{/product/}+${popularAdvertisement.productDTO.id}" target="_blank"
											th:text="${popularAdvertisement.title}">小米5s Plus</a>
									</h3>
									<p class="desc" th:text="${popularAdvertisement.description}">骁龙821旗舰处理器，轻薄金属机身</p>
									<!-- <p class="price">2299元起</p> -->
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="page-main home-main">
			<div class="container">
				<div id="smart"
					class="home-brick-box home-brick-row-2-box xm-plain-box J_itemBox J_brickBox is-visible loaded">
					<div class="box-hd">
						<h2 class="title">新品上线</h2>
						<div class="more J_brickNav">
							<a class="more-link" href="http://www.mi.com/smart/" target="_blank">
								查看全部
								<i class="iconfont"></i>
							</a>
						</div>
					</div>
					<div class="box-bd J_brickBd">
						<div class="row">
							<div class="span20">
								<ul class="brick-list clearfix">
									<li th:each="newProduct:${newProducts}" class="brick-item brick-item-m brick-item-m-2">
										<div class="figure figure-img">
											<a th:href="@{/product/}+${newProduct.id}" target="_blank">
												<img th:src="${newProduct.picture}" width="160" height="160">
											</a>
										</div>
										<h3 class="title">
											<a th:href="@{/product/}+${newProduct.id}" target="_blank" th:text="${newProduct.title}">小米净水器
												厨下式</a>
										</h3>
										<p class="desc" th:text="${newProduct.introduce}">直出纯净水，隐藏式安装</p>
										<div class="flag flag-new">新品</div>
										<!-- <p class="price">
											<span class="num">1999</span>
											元
										</p> -->
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div id="around"
					class="home-brick-box home-brick-row-2-box xm-plain-box J_itemBox J_brickBox is-visible loaded">
					<div class="box-hd">
						<h2 class="title">天天特价</h2>
						<div class="more J_brickNav">
							<a class="more-link" href="http://www.mi.com/smart/" target="_blank">
								查看全部
								<i class="iconfont"></i>
							</a>
						</div>
					</div>
					<div class="box-bd J_brickBd">
						<div class="row">
							<div class="span20">
								<div id="around-content" class="tab-container">
									<ul class="brick-list tab-content clearfix tab-content-active J_recommendActive">
										<li th:each="saleProduct:${saleProducts}" class="brick-item brick-item-m">
											<div class="figure figure-img">
												<a th:href="@{/product/}+${saleProduct.id}" target="_blank">
													<img th:src="${saleProduct.picture}" width="150" height="150">
												</a>
											</div>
											<h3 class="title">
												<a th:href="@{/product/}+${saleProduct.id}" target="_blank" th:text="${saleProduct.title}">米家运动鞋(智能版) 男款</a>
											</h3>
											<!-- <p class="price">
												<span class="num">249</span>
												元
											</p>
											<p class="rank">5611人评价</p> -->
											<div class="flag flag-saleoff">特价</div>
											<div class="review-wrapper">
												<a href="http://www.mi.com/mj-smartshoes/" target="_blank">
													<span class="review">鞋子很帅，穿上很舒服，走起路来想要飞起来的感觉，很轻...</span>
													<span class="author">
														来自于 64779575 的评价
														<span class="date"></span>
													</span>
												</a>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div id="recommend"
					class="home-recm-box home-brick-box home-brick-row-1-box xm-plain-box J_itemBox J_recommendBox is-visible"
					data-region-stat="1">
					<div class="box-hd">
						<h2 class="title">为你推荐</h2>
						<!-- <div class="more J_brickNav">
							<div class="xm-controls xm-controls-line-small xm-carousel-controls">
								<a class="control control-prev iconfont control-disabled" href="javascript: void(0);"></a>
								<a class="control control-next iconfont" href="javascript: void(0);"></a>
							</div>
						</div> -->
					</div>
					<div id="recommend-bd"
						class="box-bd J_brickBd J_recommend-like container xm-carousel-container">
						<div class="xm-recommend">
							<div class="xm-carousel-wrapper" style="height: 320px; overflow: hidden;">
								<ul class="xm-carousel-col-5-list xm-carousel-list clearfix" data-carousel-list="true"
									style="width: 4960px; margin-left: 0px; transition: margin-left 0.5s ease;">
									<li th:each="forYouAdvertisement:${forYouAdvertisements}" class="J_xm-recommend-list">
										<dl>
											<dt>
												<a th:href="@{/product/}+${forYouAdvertisement.productDTO.id}" target="_blank">
													<img th:src="${forYouAdvertisement.picture}">
												</a>
											</dt>
											<dd class="xm-recommend-name">
												<a th:href="@{/product/}+${forYouAdvertisement.productDTO.id}" target="_blank" th:text="${forYouAdvertisement.title}"> 小米笔记本Air 13.3英寸 </a>
											</dd>
											<!-- <dd class="xm-recommend-price">4999元</dd>
											<dd class="xm-recommend-tips">9248人好评</dd>
											<dd class="xm-recommend-notice"></dd> -->
										</dl>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>