<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/layout">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>首页</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="site-header">
			<div class="container">
				<div class="header-logo">
					<a class="logo ir" href="http://www.mi.com/index.html" title="小米官网">小米官网</a>
					<div class="doodle" style="display: block;">
						<a class="link-block"
							style="background-image: url(http://c1.mifile.cn/f/i/g/2015/gif/dysj3.gif)"
							href="http://hd.mi.com/x/03021d/index.html" target="_blank"></a>
					</div>
				</div>
				<div class="header-nav">
					<ul class="nav-list J_navMainList clearfix">
						<li id="J_navCategory" class="nav-category">
							<a class="link-category" href="http://list.mi.com/">
								<span class="text">全部商品分类</span>
							</a>
							<div class="site-category">
								<ul id="J_categoryList" class="site-category-list clearfix">
									<li class="category-item">
										<a class="title" href="http://www.mi.com/buyphone/">
											手机 电话卡
											<i class="iconfont"></i>
										</a>
										<div class="children clearfix children-col-2">
											<ul class="children-list children-list-col children-list-col-1">
												<li class="star-goods">
													<a class="link" href="http://www.mi.com/mi6/">
														<span class="text">小米6</span>
													</a>
												</li>
											</ul>
											<ul class="children-list children-list-col children-list-col-2">
												<li class="star-goods">
													<a class="link" href="http://www.mi.com/mi5/">
														<span class="text">小米手机5</span>
													</a>
												</li>
											</ul>
										</div>
									</li>
									<li class="category-item">
										<a class="title" href="http://www.mi.com/mibookair/">
											笔记本 平板
											<i class="iconfont"></i>
										</a>
										<div class="children clearfix children-col-2">
											<ul class="children-list children-list-col children-list-col-1">
												<li class="star-goods">
													<a class="link" href="http://www.mi.com/mibookair/">
														<span class="text">笔记本12.5英寸</span>
													</a>
												</li>
												<li class="star-goods">
													<a class="link" href="http://www.mi.com/mibookair/">
														<span class="text">笔记本13.3英寸</span>
													</a>
												</li>
											</ul>
											<ul class="children-list children-list-col children-list-col-2">
												<li>
													<a class="link" href="http://www.mi.com/keyboard/">
														<span class="text">悦米机械键盘</span>
													</a>
												</li>
											</ul>
										</div>
									</li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
				<div class="header-search">
					<form id="J_searchForm" class="search-form clearfix" action="http://search.mi.com/search"
						method="get">
						<label for="search" class="hide">站内搜索</label>
						<input class="search-text" type="search" id="search" name="keyword" autocomplete="off">
						<input type="submit" class="search-btn iconfont" value="">
						<div class="search-hot-words">
							<a href="http://item.mi.com/product/10000041.html">小米6</a>
							<a href="http://www.mi.com/mix/">小米MIX现货</a>
						</div>
						<div id="J_keywordList" class="keyword-list hide">
							<ul class="result-list"></ul>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="home-hero-container container">
			<div class="home-hero">
				<div class="home-hero-slider">
					<div class="ui-wrapper" style="max-width: 100%;">
						<div class="carousel slide" id="big-carousel">
							<ol class="carousel-indicators">
								<li data-slide-to="0" data-target="#big-carousel" class="active"></li>
								<li data-slide-to="1" data-target="#big-carousel"></li>
								<li data-slide-to="2" data-target="#big-carousel"></li>
								<li data-slide-to="3" data-target="#big-carousel"></li>
								<li data-slide-to="4" data-target="#big-carousel"></li>
							</ol>
							<div class="carousel-inner">
								<div class="item active">
									<img alt="image" src="img/b1.jpg">
								</div>
								<div class="item">
									<img alt="image" src="img/b2.jpg">
								</div>
								<div class="item">
									<img alt="image" src="img/b3.jpg">
								</div>
								<div class="item">
									<img alt="image" src="img/b4.jpg">
								</div>
								<div class="item">
									<img alt="image" src="img/b5.jpg">
								</div>
							</div>
							<a data-slide="prev" href="index.html#big-carousel" class="left carousel-control"
								style="margin-left: 234px;">
								<span class="icon-prev"></span>
							</a>
							<a data-slide="next" href="index.html#big-carousel" class="right carousel-control">
								<span class="icon-next"></span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>