<div class="topbar-info" id="J_userInfo">
	<span class="user">
		<a rel="nofollow" class="user-name" href="http://my.mi.com/portal" target="_blank"
			data-stat-id="3a9b2dfcb6b886ca"
			onclick="_msq.push([&#39;trackEvent&#39;, &#39;45a270e10b1f8e93-3a9b2dfcb6b886ca&#39;, &#39;//my.mi.com/portal&#39;, &#39;pcpid&#39;, &#39;&#39;]);">
			<span class="name">944146726</span>
			<i class="iconfont"></i>
		</a>
		<ul class="user-menu">
			<li>
				<a rel="nofollow" href="http://my.mi.com/portal" target="_blank" data-stat-id="e0b9e1d1fa8052a2"
					onclick="_msq.push([&#39;trackEvent&#39;, &#39;45a270e10b1f8e93-e0b9e1d1fa8052a2&#39;, &#39;//my.mi.com/portal&#39;, &#39;pcpid&#39;, &#39;&#39;]);">个人中心</a>
			</li>
			<li>
				<a rel="nofollow" href="http://order.mi.com/user/comment" target="_blank"
					data-stat-id="04dda61fe46ba720"
					onclick="_msq.push([&#39;trackEvent&#39;, &#39;45a270e10b1f8e93-04dda61fe46ba720&#39;, &#39;http://order.mi.com/user/comment&#39;, &#39;pcpid&#39;, &#39;&#39;]);">评价晒单</a>
			</li>
			<li>
				<a rel="nofollow" href="http://order.mi.com/user/favorite" target="_blank"
					data-stat-id="8660c1b13ab1c56b"
					onclick="_msq.push([&#39;trackEvent&#39;, &#39;45a270e10b1f8e93-8660c1b13ab1c56b&#39;, &#39;http://order.mi.com/user/favorite&#39;, &#39;pcpid&#39;, &#39;&#39;]);">我的喜欢</a>
			</li>
			<li>
				<a rel="nofollow" href="http://account.xiaomi.com/" target="_blank"
					data-stat-id="6c2aba14bc7f649a"
					onclick="_msq.push([&#39;trackEvent&#39;, &#39;45a270e10b1f8e93-6c2aba14bc7f649a&#39;, &#39;http://account.xiaomi.com/&#39;, &#39;pcpid&#39;, &#39;&#39;]);">小米账户</a>
			</li>
			<li>
				<a rel="nofollow" href="http://order.mi.com/site/logout" data-stat-id="7014141d5b446729"
					onclick="_msq.push([&#39;trackEvent&#39;, &#39;45a270e10b1f8e93-7014141d5b446729&#39;, &#39;http://order.mi.com/site/logout&#39;, &#39;pcpid&#39;, &#39;&#39;]);">退出登录</a>
			</li>
		</ul>
	</span>
	<span class="sep">|</span>
	<span class="message">
		<a rel="nofollow" href="http://order.mi.com/message/list" data-stat-id="dfb22006e7a827aa"
			onclick="_msq.push([&#39;trackEvent&#39;, &#39;45a270e10b1f8e93-dfb22006e7a827aa&#39;, &#39;http://order.mi.com/message/list&#39;, &#39;pcpid&#39;, &#39;&#39;]);">
			消息通知
			<i class="J_miMessageTotal"></i>
		</a>
	</span>
	<span class="sep">|</span>
	<a rel="nofollow" class="link link-order" href="http://static.mi.com/order/" target="_blank">我的订单</a>
</div>