<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/layout">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>角色管理</title>
<link th:href="@{/css/plugins/dataTables/datatables.min.css}" rel="stylesheet">
<link th:href="@{/js/plugins/artDialog/default.css}" rel="stylesheet" type="text/css" />
<style type="text/css">
input[type="text"],
input[type="password"] {
    display: inline-block;
}
table {
	white-space: nowrap;
}
</style>
<script th:src="@{/js/plugins/My97DatePicker/WdatePicker.js}"></script>
<script th:src="@{/js/plugins/artDialog/artDialog.js}"></script>
<script th:src="@{/js/role/index.js}"></script>
</head>
<body>
	<div layout:fragment="breadcrumb">
		<ol class="breadcrumb">
			<li>
				<a href="/">首页</a>
			</li>
			<li class="active">
				<strong>角色管理</strong>
			</li>
		</ol>
	</div>
	<div layout:fragment="content">
		<div class="wrapper wrapper-content animated fadeInRight">
			<div class="row">
				<div class="ibox">
					<div class="ibox-content">
						<div class="table-responsive">
							<table class="table table-striped table-bordered table-hover" id="role_tb">
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>