<script th:src="@{/js/specOption/edit.js}"></script>
<div class="row" style="width: 500px;">
	<div class="col-lg-12">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5>规格选项信息</h5>
			</div>
			<div class="ibox-content" style="padding-top: 35px;">
				<form id="saveForm" method="post" class="form-horizontal">
					<input type="hidden" id="id" name="id" th:value="${specOption.id}">
					<input type="hidden" id="createTime" name="createTime" th:value="${specOption.createTime}">
					<input type="hidden" id="spec_id" name="specId" th:value="${specOption.specDTO.id}">
					<div class="row">
						<div class="col-lg-12">
							<div class="form-group">
								<label class="col-lg-3 control-label">名称</label>
								<div class="col-lg-6">
									<input class="form-control" type="text" id="name" name="name" maxlength="16" th:value="${specOption.name}" autocomplete="off"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-lg-3 control-label">编码</label>
								<div class="col-lg-6">
									<input class="form-control" type="text" id="code" name="code" maxlength="16" th:value="${specOption.code}"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-lg-3 control-label">排序</label>
								<div class="col-lg-6">
									<input class="form-control" type="text" id="sort" name="sort" maxlength="16" th:value="${specOption.sort}"/>
								</div>
							</div>
							<div class="hr-line-dashed"></div>
							<div class="form-group">
								<div class="col-lg-offset-3 col-lg-9">
									<button class="btn btn-sm btn-primary saveBtn" type="button">确定</button>
									<button class="btn btn-sm btn-white" onclick="closeDialogSpecOp()">返回</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
