<div class="row" style="width: 500px;">
	<div class="col-lg-12">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5>规格选项信息</h5>
			</div>
			<div class="ibox-content" style="padding-top: 35px;">
				<form id="saveForm" method="post" class="form-horizontal">
					<div class="row">
						<div class="col-lg-12">
							<div class="form-group">
								<label class="col-lg-3 control-label">规格名称</label>
								<div class="col-lg-6">
									<input class="form-control" type="text" id="name" name="name" maxlength="16"
										th:value="${specOption.specDTO.name}" readonly="readonly" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-lg-3 control-label">选项名称</label>
								<div class="col-lg-6">
									<input class="form-control" type="text" id="name" name="name" maxlength="16"
										th:value="${specOption.name}" readonly="readonly" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-lg-3 control-label">编码</label>
								<div class="col-lg-6">
									<input class="form-control" type="text" id="code" name="code" maxlength="16"
										th:value="${specOption.code}" readonly="readonly" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-lg-3 control-label">排序</label>
								<div class="col-lg-6">
									<input class="form-control" type="text" id="sort" name="sort" maxlength="16"
										th:value="${specOption.sort}" readonly="readonly" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-lg-3 control-label">创建时间</label>
								<div class="col-lg-6">
									<input class="form-control" type="text" id="createTime" name="createTime" maxlength="16"
										th:value="${#dates.format(specOption.createTime, 'yyyy-MM-dd HH:mm:ss')}" readonly="readonly" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-lg-3 control-label">更新时间</label>
								<div class="col-lg-6">
									<input class="form-control" type="text" id="updateTime" name="updateTime" maxlength="16"
										th:value="${specOption.updateTime==null?'':#dates.format(specOption.updateTime, 'yyyy-MM-dd HH:mm:ss')}" readonly="readonly" />
								</div>
							</div>
							<div class="hr-line-dashed" id="hr-line-dashed"></div>
							<div class="form-group" id="returnDiv">
								<div class="col-lg-offset-3 col-lg-9">
									<button class="btn btn-sm btn-white" onclick="closeDialogSpecOp()">返回</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
